<div class="uk-placeholder">
  <h2 class="center">Instrucciones</h2>
  <hr class="uk-divider-icon">
  <p>Pagar sólo para la conjunta activa</p>
  <hr class="uk-divider-small">
  <ol>
    <li>Pulsar en la pestaña
      <i>Validación</i>
    </li>
    <li>Pulsar en el botón de pagar y se te abrirá una nueva pestaña para hacer el pago en PayPal</li>
    <li>Despues de realizar el pago tienes que pulsar en el botón de
      <i>Validar</i> y se te abrirá una ventana</li>
    <li>Tienes que introducir tu usuario de forocoches y tu email al que quieres recibir los libros y pulsar en
      <strong>Validar</strong>
    </li>
  </ol>

  <p uk-margin class="center">
      <a class="uk-button uk-button-primary uk-button-large" href="#modal-media-youtube-active" uk-toggle>VER VIDEO DE INSTRUCCIONES</a>
  </p>

  <p>Pagar varias conjuntas</p>
  <hr class="uk-divider-small">
  <ol>
    <li>Pulsar en la pestaña
      <i>Validación</i>
    </li>
    <li>Tienes que seleccionar el
      <i>check</i> de
      <strong>Te interesa alguna de las anteriores conjuntas?</strong>
    </li>
    <li>Se abrirá nueva sección con una lista, en esa lista tienes que marcar todas las conjuntas que desees</li>
    <li>Cuando hayas seleccionado todas las conjuntas que quieras un poco más arriba podrás ver el precio total</li>
    <li>Pulsar en el botón de pagar y se te abrirá una nueva pestaña para hacer el pago en PayPal automaticamente con la suma
      total anterior</li>
    <li>Despues de realizar el pago tienes que pulsar en el botón de
      <i>Validar</i> y se te abrirá una ventana</li>
    <li>Tienes que introducir tu usuario de forocoches y tu email al que quieres recibir los libros y pulsar en
      <strong>Validar</strong>
    </li>
  </ol>

  <p uk-margin class="center">
      <a class="uk-button uk-button-secondary uk-button-large" href="#modal-media-youtube" uk-toggle>VER VIDEO DE INSTRUCCIONES</a>
  </p>
</div>

<div id="modal-media-youtube" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe src="//www.youtube.com/embed/l_WpPaixmbA" width="720" height="400" frameborder="0" uk-video></iframe>
    </div>
</div>

<div id="modal-media-youtube-active" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe src="//www.youtube.com/embed/jkJuSbi0910" width="720" height="400" frameborder="0" uk-video></iframe>
    </div>
</div>