<div class="uk-placeholder">
  <h2 class="center">FAQ</h2>
  <hr class="uk-divider-icon">
  <ul uk-accordion="multiple: true">
    <li>
      <h3 class="uk-accordion-title">No consigo pagar desde la web</h3>
      <div class="uk-accordion-content">
        <p>El enlace al PayPal es este, por si no os funciona el link <a href="https://www.paypal.me/humbleconjuntas/1">https://www.paypal.me/humbleconjuntas/1</a></p>
      </div>
    </li>
    <li>
      <h3 class="uk-accordion-title">Me he verificado pero no sé si se ha hecho bien</h3>
      <div class="uk-accordion-content">
        <p>Debería aparecerte un mensaje de confirmación, si no te aparece a veces es debido a algun problema con la red en la que estes conectado.

            Estas desde una red publica como puede ser una tienda, universidad, instituto? O una red privada cerrada como una oficina o ordenador laboral?

            Si no es ninguno de los casos. Intentalo desde el movil con 3G.</p>
      </div>
    </li>
    <li>
      <h3 class="uk-accordion-title">Si solo se necesitan 13€ ¿Qué pasará con lo que sobre?</h3>
      <div class="uk-accordion-content">
        <p>Cualquier persona que se apunte después de haber llegado a la meta de personas necesarias, su euro irá de donativo extra para el bundle. No hay ningún problema con eso dado que se puede aumentar el donativo que haces hasta que llegue la fecha final del bundle.</p>
      </div>
    </li>
    <li>
    <li>
      <h3 class="uk-accordion-title">Puedo tener el material de antiguas conjuntas?</h3>
      <div class="uk-accordion-content">
        <p>Si, puedes optar por todas las anteriores conjuntas mias pero solo en epoca de conjunt activa, solo tienes que marcar el check de
          "Te interesa alguna de las anteriores conjuntas?" en la pestaña de validación. Si no hay ninguna conjunta activa tendrás que esperar a que se cree una nueva conunta.</p>
      </div>
    </li>
    <li>
      <h3 class="uk-accordion-title">Por qué no puedo pulsar encima del botón de Validar?</h3>
      <div class="uk-accordion-content">
        <p>El botón de validar se desbloquea despues de haber hecho el pago(al pulsar el botón de pagar).
          El flujo de funcionamiento actual es: elegir en que conjuntas participar, pagar, después de pagar volver a la web y
          darle al botón de Validar</p>
      </div>
    </li>
  </ul>
</div>
