<div style="max-width: 250px">
<p-autoComplete
  [(ngModel)]="text"
  (ngModelChange)="searchBook($event)"
  field="title"
  [placeholder]="'Buscar libro en conjuntas...'"
  (onSelect)="goToPack($event)"
  [emptyMessage]="'No hay ningúna conjunta con el libro que buscas'"
  [suggestions]="results">
  <ng-template let-book pTemplate="bookList">
      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <img src="{{book.thumbnail}}" style="width:45px;display:inline-block;margin:5px 0 2px 5px"/>
          <div style="font-size:15px;float:right;margin:10px 10px 0 0">{{book.title}}</div>
      </div>
  </ng-template>
</p-autoComplete>
</div>
